- content_for :head do
  %meta{ :name => "description", :content => "طالع بین اولین سایت تخصصی و علمی برای طالع بینی و فالگیری بر اساس کارت، ورق ,ستارگان و ماه تولد می باشد." }
  %meta{ :name => "keywords", :content => "طالع بین ، طالع بینی ، فال ، فالگیری ، عشق، بخت، اختر خوانی، ستاره خوانی، فال با ورق، فال با کارت, تاروت " }
.row-fluid
  .span8
    .box
      %h1 طالع بینی بر اساس کارت تاروت
      %p کارت های تاروت می توانند برای ترسیم نقشه آینده استفاده شوند. با اینکه این کارت ها نمی توانند آینده  دقیق شما را بگویند اما به وضوح مشخص میکنند که اگر شما به شیوه کنونی کارهای خود را ادامه دهید چه آینده ای در پیش رو دارید. برای مثال این کارت ها میتوانند بگویند که اگر شما خود را از شریک خود دور نگاه دارید دچار احساس نارحتی خواهید شد. هرچند یک سری از تاروت خوان های حرفه ای میتوانند در ظاهر اطلاعات دقیقتر بدهند اما همواره به یاد داشته باشید که آینده شما در دستان خود شماست.
      %h2 تاروت ۵ کارت عاقبت
      %p کارت های تاروت را به سبک های مختلفی میشود استفاده کرد. در این روش که به ۵ کارت عاقبت نام دارد ، کارت ها با توجه به عمل کنونی شما سعی به ترسیم آینده یا عاقبت عمل شما دارند.
      %p برای ۳۰ ثانیه چشم های خود را بسته و عمیق به سوال (مربوط به فعالیت یا عمل) خود تمرکز کنید، سپس دکمه کشیدن کارت را کلیک کنید.
      %a.btn.btn-success{ :href => tarot_path('show') } کشیدن کارت
    .box.margined
      %h1 طالع بینی بر اساس کارت
      %p کارت ها سالها قبل از اینکه در بازی استفاده شوند در طالع بینی به کار گرفته می شدند. در طالع بینی با کارت ۲ المان نقش بازی میکند. یک وضعیت روحی فرد و تاثیر آن بر کائنات و پارامتر دوم معنی هر کارت. 
      %a.btn{ :href => cards_path } کشیدن کارت
  .span4
    =render :partial => '/general/members'
