%h4
  -if params[:type]=='login'
    آخرین ورود
  -elsif params[:type]=='login_count'
    تعداد ورود
  -elsif params[:type]=='login_count'
    تعداد ورود
  -elsif params[:type]=='conversation'
    تعداد مکالمات
  -elsif params[:type]=='bad_rate'
    عکس بد 
  -elsif params[:type]=='good_rate'
    عکس خوب
  -elsif controller_name=='users'
    عضویت
  -elsif controller_name=='messages'
    پیام جدید 
%ul.nav.nav-pills
  %li.dropdown
    %a.dropdown-toggle{ :data => { :toggle => "dropdown" } } 
      کاربری
      %b.caret
    %ul.dropdown-menu
      %li
        %a{ :href => users_list_path } عضویت
      %li
        %a{ :href => users_list_path(:type => 'login') } آخرین ورود
      %li
        %a{ :href => users_list_path(:type => 'login_count') } تعداد ورود
      %li
        %a{ :href => users_charts_path(:type => 'user_charts') } نمودار
      %li
        %a{ :href => users_list_path(:type => 'bad_rate') } عکس بد
      %li
        %a{ :href => users_list_path(:type => 'good_rate') } عکس خوب
  %li.dropdown
    %a.dropdown-toggle{ :data => { :toggle => "dropdown" } } 
      پیام ها
      %b.caret
    %ul.dropdown-menu
      %li
        %a{ :href => list_messages_path } پیام های جدید
      %li
        %a{ :href => list_messages_path(:type => :conversation) } حداقل ٢ بار رد شده
