.box.tarot
  %h4 پیشبینی کارت های تاروت
  %p کارت های تاروت می توانند برای ترسیم نقشه آینده استفاده شوند. با اینکه این کارت ها نمی توانند آینده  دقیق شما را بگویند اما به وضوح مشخص میکنند که اگر شما به شیوه کنونی کارهای خود را ادامه دهید چه آینده ای در پیش رو دارید.
  %a.btn.btn-info{ :href => tarots_path } کشیدن 5 کارت عاقبت
.box.cards.margined
  %h4 فال با کارت
  %p کارت ها سالها قبل از اینکه در بازی استفاده شوند در طالع بینی به کار گرفته می شدند. در طالع بینی با کارت ۲ المان نقش بازی میکند. یک وضعیت روحی فرد و تاثیر آن بر کائنات و پارامتر دوم معنی هر کارت.
  %a.btn.btn-info{ :href => cards_path } مشاهده طالع این لحظه
.box.horoscope.margined
  %h4 طالع بینی ستارگان
  %p این شیوه طالع بینی از دقیق ترین و علمی ترین شیوه های طالع بینی میباشد. بر خلاف دیگر طالع بینی های موجود، در این شیوه با مطالعه وضعیت ستارگان و نجوم به پیشگویی آینده دست میزنند.
  %a.btn.btn-info{ :href => horoscopes_path } مشاهده طالع این هفته خود
