.row-fluid
  .span12
    .box
      %h1 ما کییم؟
      %p وقتی طالع بین ١ راه اندازی شد، هیچگاه فکر نکردیم که مجبور بشیم کمتر از ٢ سال طالع بین ٢ رو راه اندازی کنیم.ولی از اونجایی که  دوستان کاربر ما از طریق اینترنت و شبکه های مجازی سعی کردند با ما تماس بگیرن و نظراتشونو بگن مارو بر اون داشت که یک سایت بهتر طبق نظر اونا بسازیم!
      %p  ما تنها هدفی که دنبال میکنیم سر گرم کردن شما در محیطی دوستانه است با ارائه خدمات بهتر. اما این تنها کار ما ٥ نفر نیست!  معتقدیم برای ایجاد محیط مناسب و دوستانه ، ٨٠ درصد شما اید که با ایجاد دیالوگی بهتر میتونید اوقات خوبی رو برای هم ایجاد کنین. در کنار اینها ،ما سرویس هایی رو راه اندازی کردیم و هر روز اضافه میکنیم تا به شما اطمینان دهند انسان های خاطی از سیستم خارج میشن.
      %p طالع بین ٢ دستاورد ٢ تا برنامه نویس، یک فرد آگاه به علوم ماورا ، یک روانشناس و یک جامعه شناس هست.
      %h2#tech چطوری کار میکنه؟
      %p طالع بین از یسری ریزسیستم تشکیل شده که هرکدوم یک سرویسی برا شما میاره.
      .row-fluid
        .span4
          %h3 تلسکوپ 
          %p اسم تکنولوژی که ما برای رسد و جمع  آوری اطلاعات هفتگی شما بر اساس ماه تولدتون راه انداختیم. این یکی از سخت ترین قسمت ها بوده.
        .span4
          %h3 جاروبرقی 
          %p این سیستم برای حذف کاربران غیر فعال راه اندازی شد.
        .span4
          %h3 قیچی
          %p این یک روبوت است که با توجه به سطح تنفر افراد از آدمهای خطا گر ، آنهارو از سیستم قطع  میکنه.
      .row-fluid
        .span4
          %h3 کفتر
          %p این سیستم وظیفه پیغام رسانی به کاربران را بر عهده داره.
        .span4
          %h3 بیشتولک
          %p این سیستم کارش ارتباط و هماهنگ کردن همه سیستم ها با یکدیگر است و هسته اصلی برای پیدا کردن شما و انسان های مشابه شما در سیستم.
        .span4
          %h3 شیپور
          %p شیپور صدای شما به ماست! این سیستم نظرات شما، نیاز های شما ، خصوصیات شخصیتی شمارو برای ما جمع  میکنه.
      %h3#lang چرا زبان محاوره؟ چرا چشمک؟
      %p چون ماهم مثل شما انسان هستیم و اگر شما از سایت دیدن میکنید دلیل بر بی هویت بودنش نیست! این سایت توسط چندنفر مثل شما راه اندازی شده و مدیریت میشه. ما هم مسل شما قلت مینویصیم ! مثل شما تو مسیج دادن چشمک میزنیم ؛) و یا اگر بی حوصله باشیم >:/ می ذاریم!
      %h3 با ما باش!
      %p ما هر روز داریم سعی میکنیم تا کمتر خودمون بنویسیم و بیشتر شما بنویسید. چرا؟ چون ما معتقدیم تو بسیاری از زمینه ها شما بهتر از ما میدونین! ولی خوب سیاست ما این است که بخش اصلی سایت یعنی فال و طالعبینی را تا ٣ سال آینده  خودمان انجام دهیم. اما اگر شما مطالبی آموزنده دارید برای ما ارسال کنید و ما اونارو با کاربران دیگر به اشتراک میذاریم.
      %p و همیشه ما از نظرات سازنده شما استفاده بردیم و میبریم، لطفا از ما دریغش نکنین ...
