.row-fluid
  .span8
    .box
      %h1 تعبیر خواب
      %h3 تعبیر خواب شما چیست؟
      %p
        در بخش تعبیر خواب طالع بین که تا ماه آینده راه اندازی خواهد شد، شما میتوانید چیز های که در خواب دیده اید را وارد کرده و سپس سیستم با رجوع به روايت امام جعفر صادق،ابراهیم کرمانی و منوچهر مطيعي تهراني و منابع دیگر خوابتان را تعبیر کند.
      %h4 نمونه از علائم تعبیر شده:
      %p 
        %b مار:
        خطر يا دشمن خانگي است. خطري که بدون اطلاع قبلي و بي آنکه انتظارش را داشته باشيد ...
      %p
        %b پول:
        پول در خواب خوب نيست همان قدر که به چشم عده اي در بيداري خوب است. در بيداري داشتن ...
      %p
        %b ماهي:
        ديدن ماهي در خواب نيکو است بخصوص اگر آبي که ماهي در آن شنا مي کند صاف و روشن باشد ...
      %p
        %b خانه:
        در خواب ما معيشت است، اگر در خواب ببينيد درون خانه اي بزرگ و مجلل هستيد و آن خانه ...
      %h3 عضو شوید
      %p این بخش بصورت تستی برای کاربران عضو راه اندازی خواهد شد و سپس در اختیار عموم قرار میگیرد.
      .row-fluid.margined
        %a.btn.btn-success{ :href => new_user_registration_path( :by => :dream_feature ) }
          %i.icon-user.icon-white
          عضویت رایگان
  .span4
    =render :partial => 'talebin'
