.row-fluid
  .span8
    .box
      %h1 ۳۰ نکته عشقی
      %ol 
        %li از نظر تاریخی، بوی بدن عنصری فعال در عطر و شربت عشق بوده است
        %li دانشمندان اظهار می کنند که بیشتر افراد پیش از ازدواج تقریبا هفت بار عاشق می شوند
        %li برخی از افراد که ادعا می کنند هرگز عشق رومانتیک نداشته اند، از بیماری نادری به نام کم کاری هیپوفیز (hypopituitarism ) رنج می برند که به شخص اجازه نمی دهد خلسه عشق را حس کند
        %li حلقه نامزدی اغلب به انگشت چهارم دست چپ پوشانده می شود زیرا یونانیان باستان عقیده داشتند که vena amoris (ونا آموریس) یا رگ عشق که مستقیم به قلب وصل است از آن انگشت می گذرد. اولین حلقه های عروسی ثبت شده در مصر باستان پدیدار شده اند، با دایره ای که نشان دهنده جاودانگی و همچنین خدایان قدرتمند خورشید و ماه می باشند
        %li برآورد شده که 40 تا 70% قتل زنان را عشاق و همسران آنها مرتکب شده اند
        %li برخی از روانشناسان می گویند ما عاشق کسی می شویم شبیه پدر و مادری که در دوران کودکی مسایل حل نشده ای با او داشته ایم، و ناآگاهانه در جستجوی حل این روابط کودکی در بزرگسالی هستیم
        %li مطالعات نشان می دهند اگر مردی زنی را در موقعیت خطرناکی ملاقات کند (و برعکس)، بعنوان مثال روی یک پل لرزان، به احتمال بیشتری او عاشق آن زن می شود تا اینکه او را در یک موقعیت عادی تر مثلا دفتر کار ملاقات کند
        %li در سرتاسر جهان زنان اغلب عاشق کسانی می شوند که دارای بلندپروازی، تحصیلات، ثروت، احترام، مقام، شوخ طبعی، و قدی بلندتر از آنها هستند. همچنین زنان، استخوان گونه متمایز و استخوان فک قوی را ترجیح می دهند که به سطح تستسترون فرد مربوط می شود. طی زمان تخمک گذاری، زنان بیشتر مجذوب مردانی می شوند که نشانه های از تستسترون داشته باشند
        %li بخش دیداری مغز مردان عاشق فعالیت بیشتری نشان می دهد درحالیکه آن بخش از مغز زنان عاشق که کنترل کننده حافظه است فعالیت آهسته تری را نشان می دهد. دانشمندان حدس می زنند که مردان باید یک زن را از نظر دیداری اندازه بزنند تا ببینید که آیا تحمل بچه دار شدن را دارد، درحالیکه زنان برای تعیین شایستگی او باید جنبه های رفتاری مرد را بخاطر داشته باشند
        %li هرچه معاشقه ای طولانی تر و تعمدی تر باشد، دورنمای بهتری از یک ازدواج طولانی مدت خواهد داشت. آنهایی که درآغاز حس عاشقانه شدید و هالیوود گونه ای دارند، احتمال طلاق آنها بیشتر است
      
      %p 
      ۲۰ مورد جالب دیگر عشقی بزودی لیست خواهد شد.
      %h5 اولین نفری باشید در میان دوستان خود که این مطلب را به اشتراک میگذارد !!!
   
  .span4
    =render :partial => 'talebin'
