.row-fluid
  .span8
    .box
      %h1 طالع بینی ستارگان (طالع بینی نجوم)
      %p این شیوه طالع بینی از دقیق ترین و علمی ترین شیوه های طالع بینی میباشد. بر خلاف دیگر طالع بینی های موجود، در این شیوه با مطالعه وضعیت ستارگان و نجوم به پیشگویی آینده دست میزنند. در این شیوه علمی با بررسی رابطه زادروز افراد و ویژگیهای شخصیتی آنها از طریق ارتباط دادن آن به اجرام آسمانی دست به پیشگویی وقایع آینده میزنند. در این شبه علم با محاسبه نموداری موسوم به زایچه که نحوه قرارگیری خورشید و سیارات در صورتهای فلکی را در زمان زایش فرد نشان میدهد، سعی بر پیشگویی سرنوشت و ویژگیهای اخلاقی فرد میشود.

      %p در حال حاضر موتور talebin.com با بررس سایت های رصد <a href='http://www.fourmilab.ch/cgi-bin/Yourhorizon' target='_blank'>fourmilab</a> و <a href='http://www.fourmilab.ch/cgi-bin/Yoursky' target='_blank'>yoursky</a> بیش از ۶،۸۵۰،۰۰۰ تصویر فلکی را ذخیره کرده و این تعداد هرروز در حال افزایش هستند. این تصاویر به ما کمک میکند تا با مقایسه حالت قبلی با حالت کنونی به پیشگویی وضعیت آینده دست بزنیم و با توجه به تفاسیر موجود برای اشکال ایجاد شده، آینده احتمالی را ترسیم کنیم.

      %h2 آیا تمایل دارید طالع این هفته خود را مشاهده کنید؟
      .alert
        %p
          بدلیل اشتیاق کاربران ما بخش پیشگویی هفتگی را به صورت آزمایشی برای کاربران عضو باز کردیم. اگر تمایل دارید با عضویت در سایت از طالع این هفته خود مطلع شوید. به زودی این بخش برای کاربران مهمان هم باز خواهد شد. (برای عضویت و مشاهده طالع هفتگی خود 
          %a{ :href => new_user_registration_path( :by => :horoscope) } اینجا کلیک
          کنید.)      
        %p
          دلیل این محدودیت، زیادی بار تحمیل شده به سرور های ما در پیشگویی و تخمین درستی طالع شما بوده. تیم فنی طالع بین تمامی کوشش خود را میکند تا هرچه سریع تر این مشکل را حل کند.
  .span4
    =render :partial => '/general/members'
