.row-fluid.margined
  .span4
    .box.cards
      %h4 فال با کارت
      %p کارت ها سالها قبل از اینکه در بازی استفاده شوند در طالع بینی به کار گرفته می شدند. در طالع بینی با کارت ۲ المان نقش بازی میکند. یک وضعیت روحی فرد و تاثیر آن بر کائنات و پارامتر دوم معنی هر کارت.
      %a.btn.btn-info{ :href => cards_path } مشاهده طالع این لحظه
  .span4
    .box.horoscope
      %h4 طالع بینی ستارگان
      %p این شیوه طالع بینی از دقیق ترین و علمی ترین شیوه های طالع بینی میباشد. بر خلاف دیگر طالع بینی های موجود، در این شیوه با مطالعه وضعیت ستارگان و نجوم به پیشگویی آینده دست میزنند.
      %a.btn.btn-info{ :href => horoscopes_path } مشاهده طالع این هفته خود
  .span4
    .box.tarot
      %h4 پیشبینی کارت های تاروت
      %p کارت های تاروت می توانند برای ترسیم نقشه آینده استفاده شوند. با اینکه این کارت ها نمی توانند آینده  دقیق شما را بگویند اما به وضوح مشخص میکنند که اگر شما به شیوه کنونی کارهای خود را ادامه دهید چه آینده ای در پیش رو دارید.
      %a.btn.btn-info{ :href => tarots_path } کشیدن 5 کارت عاقبت
.row-fluid
  .span8
    .box
      %h1 طالع بین دات کام
      %h2 کارت های تاروت ( افتتاح شد )
      %h3 آیا میدانید تاروت چیست؟
      %p کارتهای تاروت (یا تارو و یا ثورا) مجموعهای کارت هستند برای پیشگویی یا الهام بخشی. در نسخه های گوناگون تعداد و مفهوم این کارت ها تفاوت می کند ولی در مشهورترین نسخه (رایدر وایتز) کارت های تاروت شامل ۷۸ کارت هستند که ۵۶ عدد مجموعه تاروت صغیر و ۲۲ کارت تاروت کبیر نامیده می شوند.
      %h4 تاریخچه
      %p علم پیشگویی توسط کارتهای تاروت طی قرون گذشته یکی از باستانی‌ترین روش‌های علوم باطنی محسوب گردیده است که از دیر زمان توسط حکیمان، فرزانگان و آینده نگرهای ...
      %a{ :href => '/tarots/blog/1/تاروت.html' } ادامه مطلب ...
    .box.margined
      %h3 پیش بینی آینده ممکن است ؟
      %p اگر شما اینجا هستید که از آینده خود بصورت ۱۰۰% اطلاع پیدا کنید از نظر علمی این امر غیر ممکن است! اما شما شاید با مباحثی چون نظریه نسبیت انیشتن ، تبدیل انرژی به اجسام و بلعکس  ، نظریاتی چون نظریه آشوب ، بحث تاثیر پروانه ای آشنا باشید. با کمک این قوانین و ترکیبی از آنها طبق فرمول هایی میشود تا حدودی به باز خوانی گذشته و پیشبینی آینده دستزد. مباحثی چون اختر خوانی با کمک ترکیب مباحث ریاضی و نجوم سعی در تحقق این هدف دارند.
    .box.margined
      %h3 ماه های تولد و شخصیت افراد
      %p خصوصیات رفتاری انسان ها بستگی به عوامل متعددی دارد. یکی از آنها تأثیر انرژی های کیهانی هنگام تولد می باشد. هر فرد موقع تولد، تحت تأثیر کیهانی سیاره ای می باشد که با توجه به سیاره، خصوصیات فرد نیز مشترک باآن انرژی است. خیلی خوب است که با دانستن این خصوصیات خود را بهتر بشناسیم و در جهت رفع نقاط ضعف یا تقویت خصوصیت اخلاقی خوب خود بکوشیم.
      %a{ :href => '/horoscope/blog/2/علائم ماه های تولد.html' } ادامه مطلب ...
  .span4
    .box
      %h3 تست های شخصیت
      %p 
        این بخش ، جدید ترین بخش و جذاب ترین بخش طالع بین خواهد بود. هدف از این بخش شناسایی سلایق شماست و امکان مقایسه آن با دوستانتان.
      %a.btn.btn-success{ :href => '/feature/blog/5/تست های شخصیتی.html' } گرفتن تست
    .margined
      =render :partial => '/general/ads'
    .box.margined
      %h3 ۳۰ نکته عشقی
      %ol
        %li از نظر تاریخی، بوی بدن عنصری فعال در عطر و شربت عشق بوده است
        %li دانشمندان اظهار می کنند که بیشتر افراد پیش از ازدواج تقریبا هفت بار عاشق می شوند
        %li برخی از افراد که ادعا می کنند هرگز عشق رومانتیک نداشته اند، از بیماری نادری به نام کم کاری هیپوفیز (hypopituitarism ) رنج می برند که به شخص اجازه نمی دهد خلسه عشق را حس کند
        %li حلقه نامزدی اغلب به انگشت چهارم دست چپ پوشانده می شود زیرا یونانیان باستان عقیده داشتند که vena amoris (ونا آموریس) یا رگ عشق که مستقیم به قلب وصل است از آن انگشت می گذرد. اولین حلقه های عروسی ثبت شده در مصر باستان پدیدار شده اند، با دایره ای که نشان دهنده جاودانگی و همچنین خدایان قدرتمند خورشید و ماه می باشند
        %li برآورد شده که 40 تا 70% قتل زنان را عشاق و همسران آنها مرتکب شده اند
        %li ...
      %a{ :href => '/horoscope/blog/3/راز عشق.html' } ادامه مطلب ...
