.row-fluid
  .span8
    .box
      %h1 کارت های تاروت
      %h3 آیا میدانید تاروت چیست؟
      %p
        کارت‌های تاروت (یا تارو و یا ثورا) مجموعه‌ای کارت هستند برای پیشگویی یا الهام بخشی. در نسخه‌های گوناگون تعداد و مفهوم این کارت‌ها تفاوت می‌کند ولی در مشهورترین نسخه (رایدر وایتز) کارت‌های تاروت شامل ۷۸ کارت هستند که ۵۶ عدد مجموعه تاروت صغیر و ۲۲ کارت تاروت کبیر نامیده می‌شوند.
      %h3 تاریخچه
      %p
        علم پیشگویی توسط کارتهای تاروت طی قرون گذشته یکی از باستانی‌ترین روش‌های علوم باطنی محسوب گردیده است که از دیر زمان توسط حکیمان، فرزانگان و آینده نگرهای اندیشمند نه تنها برای تفال و پیشگویی بلکه جهت پرورش صحت نفس و تعالی روح مورد توجه بوده است. فلسفه تاروت بعنوان یک مکتب رمزی به زبانی سخن میگوید که از فکر انبوه انسانی برخاسته و از روح و روان او سرچشمه یافته، و تفهیمی از معنای درونی نمادها را ارائه میدهد .کارتها در بالاترین مرتبه خود قدرتهای سری و حکمت محرمانه را منتقل میسازند .
      اگر علاقه مند هستید تا در مورد تاروت بیشتر بدانید با کلیک بر روی این لینک  به ویکی پدیا (بزرگترین و معتبر ترین مرجع دنیا) مراجعه کنید (این مطلب از سایت ویکی پدیا در اختیار شما قرار گرفته).
      %h2 کارتهای تاروت در طالع بین دات کام
      %p 
        بخش تاروت طالع بین دات کام فعالیت خود را شروع کرده است. دوستداران میتوانند با کلیک بر روی 
        %a{ :href => tarots_path } این لینک
        تاروت خود را بگیرند.
      
      %h3 هزینه خواندن کارت ها
      %p 
        طبق سیاست اخذ شده در تاریخ ۱۸ فوریه ۲۰۱۱ (۲۹ بهمن ۱۳۸۹) ، تیم طالع بین دات کام هدف خود را اینگونه بنا نهاده تا سیستم تاروت خوانی خود را رایگان نگه دارد.
      
      %h4 اولین نفری باشید در میان دوستان خود که این مطلب را به اشتراک میگذارد !!!
     
  .span4
    =render :partial => 'talebin'
