.row-fluid.margined
  .span12
    .box
      .reload{ :data => { :remote => suggest_path, :callback => 'talebin.core.suggestions' } }
        %i.icon-refresh.icon-3x
      %h4 نظر شما در مورد این افراد؟
      .row-fluid.quicklist.fn-suggestions
        .template
          %a.user.fn-suggestion{ :loop => :true, :href => user_path('%#id%').gsub('%23', '#') }
            %img.img-rounded{ :src => '%#avatar_medium%' }
            %span %#name%
            .thumbs
              %i.icon-thumbs-up.icon-2x.icon-flip-horizontal
              %i.icon-thumbs-down.icon-2x
        -@suggestions.each do |user|
          %a.user.fn-suggestion{ :href => user_path(user.hid) }
            %img.img-rounded{ :src => user.avatar(:medium) }
            %span= user.name
            .thumbs
              %i.icon-thumbs-up.icon-2x.icon-flip-horizontal
              %i.icon-thumbs-down.icon-2x
.row-fluid
  .span4
    = render :partial => 'shared_side', :locals => { :user => current_user }
  .span8
    = render :partial => 'shared', :locals => { :user => current_user }
    .box.margined.todos
      %h5 کارهای عقب افتاده
      -current_user.pending_invited_by.each do |user|
        .row.alert.alert-info
          .message
            %img{ :src => user.avatar(:thumb) }
            #{user.name} از شما درخواست دوستی کرد
          .btn-group
            .btn.btn-success قبول دوستی
            .btn.btn-inverse رد دوستی ، نمی شناسم
