%tr
  %td{ :type => :radiogroup }
    .row-fluid
      .span6 
        %input{ :type => :radio, :name => 'survey[q5]', :value => 'رنگ جوراب با لباسم ست باشه' }
        رنگ جوراب با لباسم ست باشه
      .span6 
        %input{ :type => :radio, :name => 'survey[q5]', :value => 'رنگ پیرهن یا مانتوم' }
        رنگ پیرهن یا مانتوم
    .row-fluid
      .span6 
        %input{ :type => :radio, :name => 'survey[q5]', :value => 'رنگ شلوارم' }
        رنگ شلوارم
      .span6 
        %input{ :type => :radio, :name => 'survey[q5]', :value => 'عینکم' }
        عینکم
    .row-fluid
      .span6 
        %input{ :type => :radio, :name => 'survey[q5]', :value => 'رنگ لباسام باهم بخونه' }
        رنگ لباسام باهم بخونه
      .span6 
        %input{ :type => :radio, :name => 'survey[q5]', :value => 'برام اصلا مهم نیست' }
        برام اصلا مهم نیست
