%tr
  %td{ :type => :radiogroup }
    .row-fluid
      .span6 
        %input{ :type => :radio, :name => 'survey[q5]', :value => 'صبر میکنم تا سبز بشه ' }
        صبر میکنم تا سبز بشه 
      .span6 
        %input{ :type => :radio, :name => 'survey[q5]', :value => 'رد میشم' }
        رد میشم
    .row-fluid
      .span6 
        %input{ :type => :radio, :name => 'survey[q5]', :value => 'اگه کسی تو ماشینم باشه شاید رد نشم' }
        اگه کسی تو ماشینم باشه شاید رد نشم
      .span6 
        %input{ :type => :radio, :name => 'survey[q5]', :value => 'روز هم بود کسی نبود رد میشدم' }
        روز هم بود کسی نبود رد میشدم

