%tr
  %td{ :type => :radiogroup }
    .row-fluid
      .span6 
        %input{ :type => :radio, :name => 'survey[q5]', :value => 'روزی حداقل یکبار' }
        روزی حداقل یکبار
      .span6 
        %input{ :type => :radio, :name => 'survey[q5]', :value => 'روزی یکبار بسه' }
        روزی یکبار بسه
    .row-fluid
      .span6 
        %input{ :type => :radio, :name => 'survey[q5]', :value => 'روزی یکبار (زمستونا کمتر)' }
        روزی یکبار (زمستونا کمتر)
      .span6 
        %input{ :type => :radio, :name => 'survey[q5]', :value => 'هفته ٢-٣ بار' }
        هفته ٢-٣ بار
    .row-fluid
      .span6 
        %input{ :type => :radio, :name => 'survey[q5]', :value => 'هفته ١ بار' }
        هفته ١ بار
      .span6 
        %input{ :type => :radio, :name => 'survey[q5]', :value => 'هیچکدام' }
        هیچکدام

