%tr
  %td{ :type => :radiogroup }
    .row-fluid
      .span6 
        %input{ :type => :radio, :name => 'survey[q5]', :value => 'روشن' }
        روشن
      .span6 
        %input{ :type => :radio, :name => 'survey[q5]', :value => 'تیره' }
        تیره
    .row-fluid
      .span6 
        %input{ :type => :radio, :name => 'survey[q5]', :value => 'رنگارنگ' }
        رنگارنگ
      .span6 
        %input{ :type => :radio, :name => 'survey[q5]', :value => 'برام مهم نیست' }
        برام مهم نیست
