%tr
  %td{ :type => :radiogroup }
    .row-fluid
      .span6 
        %input{ :type => :radio, :name => 'survey[q5]', :value => '١ ساعت کمتر' }
        ١ ساعت کمتر
      .span6 
        %input{ :type => :radio, :name => 'survey[q5]', :value => '١ تا ٢ ساعت' }
        ١ تا ٢ ساعت
    .row-fluid
      .span6 
        %input{ :type => :radio, :name => 'survey[q5]', :value => '٣+ ساعت' }
        ٣+ ساعت 
      .span6 
        %input{ :type => :radio, :name => 'survey[q5]', :value => 'کار من تو اینترنته' }
        کار من تو اینترنته
