%tr
  %td{ :type => :radiogroup }
    .row-fluid
      .span6 
        %input{ :type => :radio, :name => 'survey[q5]', :value => 'ترک میکنم جمع رو' }
        ترک میکنم جمع رو
      .span6 
        %input{ :type => :radio, :name => 'survey[q5]', :value => 'باهاش شایدحرفم بشه' }
        باهاش شایدحرفم بشه
    .row-fluid
      .span6 
        %input{ :type => :radio, :name => 'survey[q5]', :value => 'کلا خوب برخورد میکنم' }
        کلا خوب برخورد میکنم
      .span6 
        %input{ :type => :radio, :name => 'survey[q5]', :value => 'سعی میکنم دوست بشیم دوباره' }
        سعی میکنم دوست بشیم دوباره

