- content_for :head do
  %meta{ :name => "description", :content => "طالع بین اولین سایت تخصصی و علمی برای طالع بینی و فالگیری بر اساس کارت، ورق ,ستارگان و ماه تولد می باشد." }
  %meta{ :name => "keywords", :content => "طالع بین ، طالع بینی ، فال ، فالگیری ، عشق، بخت، اختر خوانی، ستاره خوانی، فال با ورق، فال با کارت" }
.row-fluid
  .span8
    .box
      %h1 طالع بینی بر اساس کارت
      %p کارت ها سالها قبل از اینکه در بازی استفاده شوند در طالع بینی به کار گرفته می شدند. در طالع بینی با کارت ۲ المان نقش بازی میکند. یک وضعیت روحی فرد و تاثیر آن بر کائنات و پارامتر دوم معنی هر کارت. در سیستم های سنتی و دستی پارامتر سومی هم دخیل بود (فرد فال گیرنده) که خوشبختانه با وجود سیستم های اتومات این پارامتر حذف شده و فقط شما و کائنات در این طالع  نقش بازی می کنید.
      %p فال گیری با کارت به طرق مختلفی انجام پذیر می باشد. این فالی که ما اینجا ارائه میکنیم از طریق ۳ کارت انجام میشود و با هر نیتی قابل انجام می باشد، تمرکز بر حالت درونی خود و میل باطنی بر نتیجه این فال تاثیر میگذارد. :
      %h2 گرفتن فال با کارت
      %p بعد از نیت برای مشاهده کارت های اقبال خود کلیک کنید 
      %a.btn.btn-success{ :href => card_path('show') } کشیدن کارت
    .box.margined
      %h2 طالع بینی بر اساس کارت تاروت
      %p کارت های تاروت می توانند برای ترسیم نقشه آینده استفاده شوند. با اینکه این کارت ها نمی توانند آینده دقیق شما را بگویند اما به وضوح مشخص میکنند که اگر شما به شیوه کنونی کارهای خود را ادامه دهید چه آینده ای در پیش رو دارید. 
      %a.btn.btn-info{ :href => tarots_path} کشیدن کارت تاروت
  .span4
    =render :partial => '/general/members'
    .margined
      =render :partial => '/general/ads'
