<p>خوش آمدی <%= @email %>!</p>

<p>برای تایید کاربری خود بر روری لینک زیر کلیک کنید:</p>

<p><%= link_to 'تایید و ورود به طالع بین', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
