<p>سلام <%= @resource.email %>!</p>

<p>فردی تقاضای تغییر رمز کاربری شما را در طالع بین کرده. برای این کار لینک زیر را کلیک کنید:</p>

<p><%= link_to 'برای تغییر اینجا کلیک کنید', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>اگر شما این تقاضا را نکرده اید، لطفا این ایمیل را نادیده بگیرید.</p>
<p>تا زمانی که روی لینک بالا کلیک نکرده اید رمز شما بدون تغییر خواهد ماند.</p>
